@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main.main{
    min-height: 100vh;
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
}
form{
    margin: auto;
    max-width: 700px;
    min-width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    display: flex;
}
form input{
    border: 0;
    color: white;
}
::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
form input:focus{
    border: 0;
    outline: none !important;
    shape-outside: none !important;
}
form button{
    border: none;
    padding: 0px 20px;
    border-radius: 0px 5px 5px 0px;
}

.result img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}